.articleHighlight.Space {
  background-color: #00ff2d;
}
.articleHighlight.NeedSpaceBetweenPunctuationAndChineseChar {
  position: relative;
  display: inline-block;
  width: 2px;
  > :first-child {
    position: absolute;
    left: -2px;
    top: -18px;
    width: 6px;
    height: 24px;
    background-image: url(assets/needSpaceBetweenPunctuationAndChineseChar.svg);
    background-size: 100% 100%;
    cursor: pointer;
  }
}
